.PyramidPicker {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: $pyramid-picker-max-width;
  background: $pyramid-picker-background;
  box-shadow: $pyramid-picker-shadow;
  z-index: 9999;
}

.PyramidPicker,
.PyramidPicker__Bg {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-out, visibility .3s ease-out;

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }
}

.PyramidPicker__Bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 9998;
  background: $pyramid-picker-page-background;
  border: 0;
}

.PyramidPicker__Button {
  background: transparent;
  display: block;
  width: 100%;
  border: 0;
  text-align: center;
  padding: $pyramid-picker-button-padding;
  border-bottom: 1px solid $pyramid-picker-button-border;

  &:hover {
    background-color: $pyramid-picker-hover-background;
  }
}

.PyramidPicker__Close {
  position: absolute;
  bottom: 100%;
  right: 0;
  background: transparent;
  border: 0;
}
