.PyramidBlock {
}
  .PyramidBlock__Content {
    background: #fff;
    padding: 1rem;
  }
    .PyramidBlock__Content--nopadding {
      padding: 0;
    }
      .PyramidBlock__Content--nopadding > .mce-tinymce {
        border: 0;
      }

  .PyramidBlock__Group {
    margin-bottom: 1rem;
  }

  .PyramidBlockWrapper:last-child .PyramidAdd {
    opacity: 1;
    background: transparent;
  }
    .PyramidBlockWrapper:last-child .PyramidAdd__Handle {
      position: static;
      margin: 0 auto;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      background: #fff;
    }
