.PyramidImage {

}

.PyramidImage__Dropzone {
  width: 100%;
  padding: 2rem;
  border: 2px dashed #ddd;
  text-align: center;
  margin-bottom: 1rem;

  &:hover {
    border-color: #aaa;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

