.PyramidImageList {

}

.PyramidImageList__Row {
  @include clearfix;
  position: relative;
  margin: 0 -1rem 1rem;
  padding: 1rem 1rem 0;
  border-top: 1px solid #ddd;

  &:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.PyramidImageList__Thumb {
  position: relative;
  border: 1px solid #ddd;
  width: 120px;
  height: 120px;
  float: left;
}

.PyramidImageList__Image {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.PyramidImageList__Content {
  padding-left: 135px;
  max-width: 500px;
}

.PyramidImageList__Controls {
  position: absolute;
  top: 0;
  right: 0;
}

.PyramidImageList__Control {
  display: inline-block;
  vertical-align: top;
  border: 0;
  background: #fff;
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  border-top: 0;
  border-right: 0;
  color: #888;

  &:hover {
    background-color: #eee;
  }
}
