.PyramidDebug__Button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  background: transparent;
  color: $pyramid-debug-text-color;
  margin-top: 30px;
  opacity: .5;
}

.PyramidDebug__Code {
  background: $pyramid-debug-code-background;
  color: $pyramid-debug-code-text-color;
  padding: 1rem;
}
