.PyramidFormLabel {
  display: block;
  margin-bottom: .25rem;
}

.PyramidFormControl {
  width: 100%;
  height: 38px;
  display: block;
  border-radius: $pyramid-control-radius;
  border: 1px solid $pyramid-control-border;
  padding: .75rem;
}

textarea.PyramidFormControl {
  resize: vertical;
  line-height: 1.4;
}
