.PyramidFormLabel {
  display: block;
  margin-bottom: .25rem;
}

.PyramidFormControl {
  width: 100%;
  height: $pyramid-form-control-height;
  display: block;
  border-radius: $pyramid-form-control-radius;
  border: $pyramid-form-control-border;
  padding: $pyramid-form-control-padding;
}

textarea.PyramidFormControl {
  resize: vertical;
  line-height: 1.4;
  height: auto;
}
