.PyramidContainer {
  max-width: $pyramid-container-max-width;
  padding-bottom: $pyramid-container-spacing;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .PyramidContainer {
    padding-top: 2rem;
  }
}
