.PyramidAdd {
  position: relative;
  padding: $pyramid-add-padding;
  display: block;
  border: 0;
  width: 100%;
  color: $pyramid-add-text-color;
  background: $pyramid-add-background;
  opacity: 0;
  transition: opacity .3s ease-out;

  &:hover {
    opacity: 1;
  }
}
  .PyramidAdd__Handle {
    position: absolute;
    left: 50%;
    top: 0;
    text-align: $pyramid-add-handle-text-align;
    line-height: $pyramid-add-handle-line-height;
  }
    .PyramidAdd__Handle .fa {

    }
