.PyramidImageList {
  background-color: #f6f6f6;
  border: $pyramid-image-row-border;
  margin-top: -2px;
}

.PyramidImageList__Row {
  @include clearfix;
  position: relative;
  margin: 0;
  padding: $pyramid-image-row-spacing;
  border-bottom: $pyramid-image-row-border;

  &:last-child {
    margin-bottom: 0;
    border-bottom: 0;
  }
}

.PyramidImageList__Thumb {
  position: relative;
  border: $pyramid-image-thumb-border;
  width: $pyramid-image-thumb-size;
  height: $pyramid-image-thumb-size;
  float: left;
  background-color: #fff;
}

.PyramidImageList__Image {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.PyramidImageList__Content {
  padding-left: $pyramid-image-thumb-size + 15px;
  max-width: $pyramid-image-content-max-width;
}

.PyramidImageList__Controls {
  position: absolute;
  top: 0;
  right: 0;
}

.PyramidImageList__Control {
  display: inline-block;
  vertical-align: top;
  background: $pyramid-image-control-background;
  width: $pyramid-image-control-size;
  height: $pyramid-image-control-size;
  border: $pyramid-image-control-border;
  border-top: 0;
  border-right: 0;
  color: $pyramid-image-control-color;

  &:hover {
    background-color: #eee;
  }
}
