.PyramidImage {

}

.PyramidImage__Dropzone {
  width: 100%;
  padding: $pyramid-image-dropzone-padding;
  border: $pyramid-image-dropzone-border;
  text-align: $pyramid-image-dropzone-text-align;

  &:hover {
    border: $pyramid-image-dropzone-border-hover;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

