.PyramidControl {
  @include clearfix;
  background: #f8f8f8;
  border-radius: $pyramid-border-radius $pyramid-border-radius 0 0;
  border-bottom: 1px solid $pyramid-base-color;
}
  .PyramidControl__Controls {
    float: right;
    font-size: 0;
    border-left: 1px solid $pyramid-base-color;
    padding: 0 .5rem;
    background: #fff;
  }
    .PyramidControl__Control {
      background: transparent;
      border: 0;
      color: #aaa;

      display: inline-block;
      font-size: 1rem;
      padding: 1rem .5rem;
      cursor: pointer;
      user-select: none;

      transition: color .3s ease-out;

      &:hover {
        color: #888;
      }
    }
      .PyramidControl__Control--Remove:hover {
        color: #d00;
      }

  .PyramidControl__Title {
    position: relative;
    padding: 1rem;
    float: left;

    .has-icon & {
      padding-left: 50px;
    }
  }
    .PyramidControl__TitleIcon {
      width: 24px;
      height: 24px;
      margin-right: .75rem;
      position: absolute;
      left: 1rem;
      top: 50%;
      margin-top: -12px;
    }
      .PyramidControl__TitleIcon img,
      .PyramidControl__TitleIcon svg {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      }
